<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961004705109-lq8p9nnmv68kbdi62km2hoi81pqv0hr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961004705109-lq8p9nnmv68kbdi62km2hoi81pqv0hr5</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Ndj1fgnb56qv4tZIbGlRFt7a2ZmChMI</string>
	<key>GCM_SENDER_ID</key>
	<string>961004705109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irfan.Quizlet-ish</string>
	<key>PROJECT_ID</key>
	<string>quizlet-ish-475c8</string>
	<key>STORAGE_BUCKET</key>
	<string>quizlet-ish-475c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961004705109:ios:5c6e1db2fccea00f640bdc</string>
</dict>
</plist>